body {
    font-family: 'Open Sans', serif;
    padding-top: 54px;
    color: #868e96;
}

@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: 29rem;
        padding-right: 4rem;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Saira Extra Condensed', serif;
    font-weight: 700;
    color: #343a40;
}

h1 {
    font-size: 7.0rem;
    line-height: 8.5rem;
}

h2 {
    font-size: 3.5rem;
    line-height: 3.5rem;
}

h3 {
    font-size: 2rem;
    line-height: 2rem;
}

h4 {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

@media (min-width: 992px) {
    #sideNav {
        text-align: left;
        position: fixed;
        top: 1;
        bottom: 0;
        left:0;
        display: inline-block;
        flex-direction: column;
        width: 25rem;
        height: 100vh;
        overflow: scroll;
    }
    #sideNav .navbar-brand {
        display: flex;
    }
    #sideNav .navbar-collapse {
        display: flex;
        align-items: flex-start;
        width: 95%;
        margin-bottom: 0;
    }*/
    #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%;
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item {
        display: block;
        border-bottom: none;
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: block;
    }
}

@media (min-width: 768px) {
    section.resume-section {
        min-height: 100vh;
    }
    section.resume-section .resume-item .resume-date {
        min-width: 18rem;
    }
}

@media (min-width: 992px) {
    section.resume-section {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
}

.bg-primary {
    background-color: rgba(0, 0, 0, 0.822) !important;
}

a.nav {
    color: rgb(255, 253, 253);
    text-decoration: none;
}

a.nav:hover, a.nav:focus, a.nav:active {
    color: #b8b8b8;
}
a{
    color: #00a0bd
}
a:hover, a:focus, a:active {
    color: #8a008f
}

p {
    text-align: justify;  
}

.tabed {
    text-indent: 50px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}